#isi {
   margin-top:10px;
   padding-top: 20px;
   padding-left: 60px;
   padding-right: 40px;
   background-color: #ffffff;

}
#bar{
   background-color: #2ecc71;

}

#table {
    width: 700px;
    margin-top:30px;

}
